<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/StyleBundles/bootstrap-core")
    @Styles.Render("~/StyleBundles/site-core-less")

    @RenderSection("header", false)

</head>
<body>
    <!-- START CUSTOM DEVELOPMENT-->
    <div class="row">
        <div class="col-md-12 header-section">
            <header>
                <!-- Header Row Goes Here-->
            </header>
        </div>
        <div class="col-md-12 faction-section">
            <!-- Faction Selector -->
            <div class="row">
                <div class="col-md-2">
                    <!-- Whitespace -->
                </div>
                <div class="col-md-8">
                    <div class="faction_selector_container">
                        <!-- Faction Selection Code Goes Here-->
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Whitespace -->
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- Main Section-->
            @RenderBody()
        </div>
    </div>
    <!-- END CUSTOM DEVELOPMENT -->

   

    @Scripts.Render("~/ScriptBundles/jquery-core")
    @Scripts.Render("~/ScriptBundles/bootstrap-core")
    @RenderSection("scripts", required: false)
</body>
</html>
